body{
    margin: 0;
    font-family: sans-serif;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background: url(https://media.istockphoto.com/id/1321131559/es/foto/posar-con-nuevo-peinado.jpg?s=612x612&w=0&k=20&c=ANf1Wc8hwzWGuLbvaNYvvYqYBsvKNSg9v-HLgiR0q5Y=);
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}
.container{
    padding: 100px;
}
h1{
    font-size: 50px;
}
p{
    color: gray;
}
@media(max-width: 500px){
    .container{
        padding: 10px;
    }
}
    
}